@import './base.css';

@font-face {
    font-family: 'rubik';
    src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

h1 {
    font-size: 76.34px;
    font-family: rubik;
    font-weight: normal;
    line-height: 60px;
}

h2 {
    font-size: 50.52px;
    font-family: rubik;
    font-weight: normal;
    line-height: 58.9px;
}

h3 {
    font-size: 37.9px;
    font-family: rubik;
    font-weight: 100;
    line-height: 44.9px;
}

h4 {
    font-size: 28.43px;
    font-family: rubik;
    font-weight: normal;
    line-height: 33.7px;
}

h5 {
    font-size: 21.3px;
    font-family: rubik;
    font-weight: normal;
    line-height: 25.3px;
}

h6 {
    font-size: 16px;
    font-family: rubik;
    font-weight: bold;
    line-height: 19px;
}

p {
    font-size: 16px;
    font-family: rubik;
    font-weight: 100;
    line-height: 21px;
}